<datasource-http-settings current="ctrl.current"></datasource-http-settings>
<h3 class="page-heading">Groonga details</h3>
<div class="gf-form-group">
	<div class="gf-form-inline">
		<div class="gf-form max-width-25">
			<span class="gf-form-label width-9">Index name</span>
			<input class="gf-form-input" type="text" ng-model="ctrl.current.database" placeholder="" required>
		</div>
	</div>
	<div class="gf-form max-width-25">
		<span class="gf-form-label width-9">Time field name</span>
		<input class="gf-form-input" type="text" ng-model="ctrl.current.jsonData.timeField" placeholder="" required ng-init="">
	</div>
</div>