<div class="tight-form">
  <ul class="tight-form-list">
    <li class="tight-form-item query-keyword"
        style="width: 75px">
      TABLE
    </li>
    <li>
      <select class="tight-form-input input-medium"
              ng-model="table"
              ng-change="update()">
        <option ng-repeat="name in availableTables"
                value="{{name}}">
          {{name}}
        </option>
      </select>
    </li>
    <li class="tight-form-item query-keyword"
        style="width: 75px">
      COLUMN
    </li>
    <li>
      <input type="text"
             class="tight-form-input input-medium"
             ng-model="column"
             ng-model-onblur
             ng-change="update()"
             spellcheck='false'>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
